* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #0c0c0c;
  color: #f5f5f5;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: linear-gradient(to right, #1a0026, #2d0036);
  border-bottom: 1px solid rgba(255, 215, 0, 0.2);
}

header h1 {
  font-family: 'Cinzel', serif;
  color: gold;
  letter-spacing: 2px;
}

nav a {
  color: #ddd;
  margin-left: 25px;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: gold;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* HERO */
.hero {
  text-align: center;
  padding: 140px 20px;
  background: linear-gradient(to right, #0c0c0c, #2d0036);
}

.hero h2 {
  font-size: 48px;
  color: gold;
}

.hero p {
  margin: 15px 0 25px;
  color: #ccc;
}

/* BUTTON */
button {
  background: gold;
  color: black;
  border: none;
  padding: 14px 30px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

button:hover {
  background: #8000ff; /* purple */
  color: white;
}

/* SECTIONS */
section {
  padding: 80px 50px;
  text-align: center;
}

/* SERVICES */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 40px;

/* pricing */
}
#pricing h2 {
  color: gold;
}

.card {
  background: #111;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgba(255, 215, 0, 0.2);
  transition: 0.3s;
}
.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card:hover {
  transform: translateY(-8px);
  border-color: gold;
  box-shadow: 0 0 15px rgba(128, 0, 255, 0.4);
}

.card h3 {
  color: gold;
  margin-bottom: 10px;
}

/* FORM */
form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

input, select {
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #333;
  border-radius: 5px;
  background: #000;
  color: white;
}

/* CONTACT */
#contact p {
  margin: 10px 0;
  color: #ccc;
}